{% extends 'base/main.html'%}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
</head>
<body>
    <div class="header-bar">
    <a href="{% url 'tasks'%}">&#8592; Back</a>
    </div>

    <form action="" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Submit" style="padding:10px; border: 1px solid #2ebf91; background-color:#FAFAFA; color : #008C77; font-weight:bold">
    </form>
</body>
</html>
{% endblock content%}
